.blog {
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  filter: drop-shadow(0 0.1rem 0.5rem #aeadad);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  text-align: center;
}
